* {
	margin: 0;
	padding: 0;
}
html {
	height:100vh;
}
.wrapper {
	width: 100%;
	height: 500px;
	position: relative;/*родитель*/
	background-color: black;
}
.wrapper div {
	width: 100px;
	height: 100px;
	position: absolute;
}
.block1 {
	background-color: green;
	top: 100px;
	left: 100px;
}
.block2 {
	background-color: red;
	top: 150px;
	left: 150px;
}
.block3 {
	background-color: blue;
	top: 200px;
	left: 200px;
}
.block4 {
	background-color: green;
	right: 100px;
	bottom: 100px;
}
.block5 {
	background-color: red;
	right: 150px;
	bottom: 150px;
}
.block6 {
	background-color: blue;
	right: 200px;
	bottom: 200px;
}
.wrapper:hover .block1, .wrapper:hover .block2{
 	top: 200px;
	left: 200px;
	transition: ease-out 0.5s;
}
.wrapper:hover .block4, .wrapper:hover .block5 {
 	right: 200px;
 	bottom: 200px;
	transition: ease-out 0.5s;
